@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply scroll-smooth;
}

@layer base {
  body {
    @apply bg-[#fdfeff] text-[#1f2937] tracking-wide;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl;
  }

  h2 {
    @apply text-3xl sm:text-4xl;
  }

  li {
    @apply cursor-pointer hover:bg-gray-200 p-3 items-center justify-center;
  }

  button {
    @apply rounded-full px-4 py-3 shadow-xl shadow-gray-400 font-bold text-white;
  }
}

.rounded-btn {
  @apply rounded-full shadow-lg shadow-gray-400 p-3 cursor-pointer hover:scale-105 ease-in duration-300;
}

.project {
  @apply grid grid-cols-2 items-center justify-center w-full shadow-lg shadow-gray-400 rounded-xl p-4 lg:text-lg md:text-lg;
}

.skill-icon {
  @apply w-10 h-10 text-gray-600;
}

.web-skills-section {
  @apply grid lg:grid-cols-5 md:grid-cols-4 sm:grid-cols-3 gap-6 m-4;

  ul {
    @apply grid grid-rows-[0.5fr,1fr] shadow-md shadow-gray-400 rounded-xl;
  }

  p {
    @apply flex items-center justify-center text-center uppercase p-2 text-white font-bold border-b-2 border-b-[#505050] bg-[#0e7490] rounded-t-xl;
  }

  li {
    @apply p-2 cursor-default hover:bg-gray-50 text-lg text-center italic;
  }
}

.project-desc {
  @apply lg:text-lg md:text-lg text-gray-600 text-justify;

  ul {
    @apply pl-3;
  }

  li {
    @apply list-none pt-0 pb-1 pl-6 relative cursor-default hover:bg-white;
  }

  span {
    @apply absolute text-3xl left-0 top-2 transform -translate-y-1/2;
  }
}

.resume-list {
  li {
    @apply pt-0 pb-1 pl-6 relative cursor-default hover:bg-white;
  }
}
